In [1]:
# 01
 SINGLE LINE COMMENT USING (#)
    
 MULTILINE COMMENTS USIMG (' ''' ' OR ' """ ')

In [5]:
# 02

# VARIABLES ARE NAMED TO THE VALUE REFERENCED BY USER TO PEFORMS ITS TASKS.

# DECLARING A VARIABLE:

name = "meha upadhyay"
name

age = 21
age

21

In [18]:
#  03 

# CONVERSION OF ONE DATATYPES IN PYTHON TO ANOTHER IS DONE THROUGH TYPECASTING

x = 4.95
y = int(x)
y

4

In [19]:
a = 99
b = float(a)
b

99.0

In [20]:
c = 10
d = str(10)
d

'10'

In [21]:
# 05

my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [28]:
# 06

# complex number = real + imaginary numbers

a1 (3+4j)

In [26]:
# 07

 age = 25

In [29]:
#  08

price = 9.99
type(price)

float

In [30]:
# 09

name = "MEHA UPADHYAY"
print(name)

MEHA UPADHYAY

In [35]:
# 10

s = "Hello, World!"
substring = s[7:12]
print(substri)

Hello, World!