In [ ]:
'''01
:A database is a structured collection of data that is organized, managed, and accessed electronically. 
It provides a systematic way to store, retrieve, and manage large amounts of information efficiently.

Difference between SQL and NoSQL databases:

SQL Database:
- SQL (Structured Query Language) databases are based on a structured data model.
- They use a schema to define the structure and relationships of the data.
- SQL databases are table-based and have a fixed schema.
- They are suitable for structured data and complex queries.
- Examples include MySQL, Oracle, and PostgreSQL.

NoSQL Database:
- NoSQL (Not Only SQL) databases are based on a flexible and dynamic data model.
- They do not require a fixed schema and can handle unstructured and semi-structured data.
- NoSQL databases are document-oriented, key-value pairs, wide-column, or graph-based.
- They are suitable for handling large amounts of data and scaling horizontally.
- Examples include MongoDB, Cassandra, and Redis.
'''

In [ ]:
'''02 
DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used for defining and managing database structures and schema.

CREATE: The CREATE statement is used to create database objects such as tables, views, indexes, or schemas. 
eg: "CREATE TABLE" creates a new table with specified columns and data types.

DROP: The DROP statement is used to delete or remove database objects. It allows you to remove tables, views, indexes, or other database entities. 
eg: "DROP TABLE" deletes a table and all its data from the database.

ALTER: The ALTER statement is used to modify the structure or properties of an existing database object.
It can add, modify, or delete columns, constraints, or other elements of a table.
eg:"ALTER TABLE" can add a new column to an existing table.

TRUNCATE: The TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact.
It is faster than deleting all rows one by one.
eg: "TRUNCATE TABLE" removes all rows from a table, but the table itself remains in the database.


''''

In [ ]:
'''03:
DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to interact with and manipulate data within a database.

INSERT: The INSERT statement is used to add new rows or records into a table. It allows you to specify the columns and values to be inserted. 
eg: "INSERT INTO table_name (column1, column2) VALUES (value1, value2)" adds a new row with specified values to the table.

UPDATE: The UPDATE statement is used to modify existing data within a table. It allows you to update specific columns with new values based on certain conditions. 
eg:"UPDATE table_name SET column1 = new_value WHERE condition" updates the value of column1 in the table based on the specified condition.

DELETE: The DELETE statement is used to remove specific rows or records from a table. It allows you to delete rows based on certain conditions.
eg: "DELETE FROM table_name WHERE condition" removes rows from the table based on the specified condition.

In [3]:
'''04:DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve and query data from a database.

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database.
It allows you to specify the columns to be retrieved and apply conditions, sorting, and grouping.
eg: "SELECT column1, column2 FROM table_name WHERE condition" retrieves the specified columns from the table based on the given condition.

'''

SyntaxError: incomplete input (1622794194.py, line 1)

In [ ]:
'''05:
Primary Key: A primary key is a column or a combination of columns that uniquely identifies each row in a table.
It ensures the integrity and uniqueness of data.
eg: in a "Users" table, the "user_id" column can be designated as the primary key.

Foreign Key: A foreign key is a column or a combination of columns that establishes a relationship between two tables. 
It refers to the primary key of another table and enforces referential integrity
eg:in an "Orders" table, the "user_id" column can be a foreign key referencing the "user_id" primary key in the "Users" table.

'''

In [ ]:
# 06:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)


cursor = conn.cursor()

cursor.execute("SELECT * FROM your_table")

results = cursor.fetchall()

conn.close()