In [1]:
# 01
'''
:The three measures of central tedency are:

                    1:Mean
                    2:Median
                    3:Mode

'''

In [ ]:
# 02
'''
Mean: The mean is the average value of a dataset. It is calculated by summing up all the values and dividing by the total number of values. The mean takes into account all the values and can be influenced by outliers.

Median: The median is the middle value in a dataset when the values are arranged in order. It represents the value that divides the dataset into two equal halves. The median is not affected by extreme values or outliers and is useful when the data contains outliers.

Mode: The mode is the value or values that occur most frequently in a dataset. It represents the most common value. The mode is useful for identifying the peak or most frequent values in a dataset



'''

In [2]:
# 03
height = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [3]:
import numpy as np
np.mean(height)

177.01875

In [4]:
#04
np.std(height)

1.7885814036548633

In [ ]:
# 05
'''
- Range: The range is the difference between the highest and lowest values in a dataset, giving a rough idea of how spread out the values are.

- Variance: Variance measures the average squared deviation of each value from the mean, providing a more precise measure of spread.

- Standard Deviation: The standard deviation is the square root of the variance and represents the average distance between each value and the mean, indicating the typical amount of dispersion in the dataset.

Inshort, the range gives a basic understanding of spread, while variance and standard deviation provide more precise measures by considering the differences between each value and the mean. These measures help describe the spread of a dataset.



'''

In [ ]:
# 06
'''
A Venn diagram is a visual way to show how different groups or sets of things are related.
It uses circles or shapes that overlap to demonstrate the similarities and differences between these groups.

'''

In [5]:
# 07
a={2,3,4,5,6,7}
b={0,2,6,8,10}

union = a.union(b)

In [6]:
print("Union of a & b is :",union)

Union: {0, 2, 3, 4, 5, 6, 7, 8, 10}

In [7]:
intersection = a.intersection(b)

In [8]:
print("Intersection of a & b is:",intersection)

Intersection of a & b is: {2, 6}

In [10]:
# 08
'''
Skewness in data refers to the measure of imbalance or distortion in its distribution. 
If the data is skewed, it means that the distribution is not symmetrical, and one side has a longer or stretched-out portion compared to the other side.
'''

In [11]:
#09
# In right-skewed data, the median is  lower than the mean.

In [13]:
#10
'''
Covariance measures how two variables change together, while correlation measures the strength and direction of their linear relationship.
Correlation is easier to understand as it is standardized and ranges between -1 and 1, indicating the strength of the relationship.


'''

In [ ]:
# 11
'''

Mean=Sum of all values in the sampleNumber of values in the sample/Number of values in the sampleSum of all values in the sampleâ€‹

'''

In [17]:
# 11
import seaborn as sns
df = sns.load_dataset('tip')

In [18]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
np.mean(df['tip'])

2.99827868852459

In [ ]:
# 12
# For a normal distribution, the mean, median, and mode are all equal.
# They are located at the center of the distribution, and the shape of the distribution is symmetric.

In [ ]:
# 13
'''
Covariance measures how two variables change together, while correlation measures the strength and direction of their linear relationship. 
Covariance can have positive or negative values, while correlation is always between -1 and 1, where -1 represents a strong negative relationship, 1 represents a strong positive relationship, and 0 represents no linear relationship.


'''

In [22]:
# 14
'''

Outliers can distort measures of central tendency by pulling them towards extreme values and increase measures of dispersion, making them larger.

'''